<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="H2O Jewellery POM Test Suite">

	<listeners>
		<listener class-name="com.listeners.ExtentReportManager" />
	</listeners>

	<test name="H2O Jewellery Tests">
		<classes>
			<class name="com.testcases.TC_01_Login" />
			<class name="com.testcases.TC_02_SignUp" />
			<class name="com.testcases.TC_03_Logout" />
			<class name="com.testcases.TC_04_Gold" />
			<class name="com.testcases.TC_05_Diamond" />
			<class name="com.testcases.TC_06_Silver" />
			<class name="com.testcases.TC_07_Cart" />
		</classes>
	</test>

</suite>
